.content {
  width: 85%;
  margin-bottom: 1.8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section > .hidden {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .3s ease-out;
}

section > :not(.hidden) {
  max-height: 240px;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: max-height .3s ease-in;
}

section {
  width: 95%;
}

section > .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.personal-details-inputs, .education-container, .education-inputs, .education-inputs > label, .experience-inputs, .experience-inputs > label, div.contribution-container, .skills-container, .skills-inputs, .skills-input > label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

p {
  margin: 0;
}

label > input {
  box-sizing: border-box;
  width: 100%;
}

span {
  font-size: 0.8rem;
  font-weight: 600;
}

span.recommended {
  color: #21b521;
}
span.required {
  color: #d82626;
}