@font-face {
  font-family: "lmroman";
  src: url(../../public/fonts/lmroman9-regular.otf);
  font-weight: 200;
  font-style: normal
}

@font-face {
  font-family: "lmroman";
  src: url(../../public/fonts/lmroman9-bold.otf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "lmroman";
  src: url(../../public/fonts/lmromancaps10-regular.otf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "lmroman";
  src: url(../../public/fonts/lmroman9-italic.otf);
  font-weight: 200;
  font-style: italic;
}

.document * {
  margin: 0;
  padding: 0;
}

.document {
  position: relative;
  box-sizing: border-box;
  padding: 5vw;
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  --ratio: calc(2.7403 / 4);
  background-color: #fcfcfc;
  box-shadow: .1em .1em 1em #dfdfdf;
}

.document > h1 {
  font-size: 4vw;
}

.details, .details div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5vw;
}

.details {
  margin-bottom: 2.6vw;
}

.education, .experience, .skills {
  margin-bottom: 2vw;
}

.details h2 {
  font-size: 1.9vw;
  font-weight: 200;
}

.details h3 {
  width: max-content;
  font-size: 1.6vw;
  font-weight: 200;
}

.education, .experience, .skills {
  width: 100%;
}

.education > hr, .experience > hr, .skills > hr {
  border: 0.01vw solid #414040;
  margin-bottom: 0.8vw;
  width: 100%;
}

.education > div {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  align-items: center;
  padding-left: 0.6vw;
  margin-bottom: 0.8vw;
}

.experience > div {
  display: grid;
  grid-template: 1fr 1fr auto / 1fr 1fr;
  align-items: center;
  padding-left: 0.6vw;
  margin-bottom: 0.8vw;
}

.skills > div {
  display: flex;
  flex-direction: row;
  padding-left: 0.6vw;
  margin-bottom: 0.4vw;
}

.skills > div > h3 {
  margin-right: 4px;
}

.experience > div > ul {
  grid-area: 3 / 1 / span 1 / span 2;
}

div > h3 {
  font-size: 1.7vw;
}

div > h4 {
  font-size: 1.7vw;
  font-weight: 400;
  justify-self: end;
}

div > h5 {
  font-size: 1.6vw;
  font-weight: 200;
  font-style: italic;
}

.skills > div > h5 {
  transform: translateY(0.1vw);
}

.education > div > .date, .experience > div > .location {
  justify-self: end;
}

.education h2, .experience h2, .skills h2 {
  font-size: 1.8vw;
  font-weight: 100;
}

.experience ul {
  margin-top: 0.6vw;
  margin-left: 2.4vw;
  font-size: 1.6vw;
}

.print, .download {
  cursor: pointer;
  width: 4vw;
  padding: 2px 2px 0 2px;
  outline: none;
  border: none;
  background-color:rgb(211, 210, 210);
  border-radius: 5px;
  position: absolute;
  box-shadow: .1em .1em 1em #d8d8d8;
}

.print {
  right: 7.4vw;
  top: 2.4vw;
}

.download {
  right: 2.2vw;
  top: 2.4vw;
}

.print:hover {
  background-color:rgb(222, 222, 222);
}

@media screen and (min-width: 1199px) {
  .document {
    padding: 2.7403vw;
  }

  .document > h1 {
    font-size: calc(var(--ratio) * 5vw);
  }

  .details {
    margin-bottom: calc(var(--ratio) * 2.6vw);
  }

  .education, .experience, .skills {
    margin-bottom: calc(var(--ratio) * 2vw);
  }

  .details h2 {
    font-size: calc(var(--ratio) * 1.9vw);
  }

  .details h3, div > h5, .experience ul {
    font-size: calc(var(--ratio) * 1.6vw);
  }

  .education > hr, .experience > hr, .skills > hr {
    border: calc(var(--ratio) * 0.01vw) solid #414040;
    margin-bottom: calc(var(--ratio) * 0.8vw);
  }

  .education > div, .experience > div {
    padding-left: calc(var(--ratio) * 0.6vw);
    margin-bottom: calc(var(--ratio) * 0.8vw);
  }

  .skills > div {
    padding-left: calc(var(--ratio) * 0.6vw);
    margin-bottom: calc(var(--ratio) * 0.4vw);
  }

  div > h3, div > h4 {
    font-size: calc(var(--ratio) * 1.7vw);
  }

  .education h2, .experience h2, .skills h2 {
    font-size: calc(var(--ratio) * 1.8vw);
  }

  .experience ul {
    margin-top: calc(var(--ratio) * 0.6vw);
    margin-left: calc(var(--ratio) * 2.4vw);
  }

  .print, .download {
    width: calc(var(--ratio) * 4vw);
    top: calc(var(--ratio) * 2.4vw);
  }

  .print {
    right: calc(var(--ratio) * 7.4vw);
  }

  .download {
    right: calc(var(--ratio) * 2.2vw);
  }

}