.mode-toggler {
  margin-bottom: min(4vw, 30px);
  padding: 16px;
  background-color: #fcfcfc;
  border-radius: 5px;
  box-shadow: 0.1em 0.1em 1em #dfdfdf;
  display: flex;
  align-items: center;
  gap: 16px;
}

.mode-toggler > button {
  padding: 8px;
  outline: none;
  border: none;
  border-radius: 6px;
  background-color: #fcfcfc;
  font-size: 1rem;
  transition: background-color 0.3s ease-in;
  cursor: pointer;
  color: rgb(48, 48, 48);
}

.mode-toggler > button.selected {
  background-color: #dddddd;
  transition: background-color 0.3s ease-out;
}
